<div style="height: 70px; font-weight: bold; font-size: 1.2em" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 style="font-weight: bold; font-size: 1.2em"  class="my-0 mr-md-auto font-weight-normal">Me diz quem tu és</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a style="color: white;" class="p-2 text-dark" href="#">Inicío</a>
    <a  style="color: white" class="p-2 text-dark" href="#">Discursos</a>
    <a  style="color: white" class="p-2 text-dark" href="#">Sobre</a>
  </nav>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3> Saiba mais sobre o que seu candidato lendo sobre o que ele está falando!.</h3>
</div>
<div class="container" style="background: #f1f1f1">
  <form class="form-inline my-2 my-lg-0 text-center">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-3 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Eduardo Barbosa </h4>
      </div>
      <div class="card-body">
        <img style="margin-bottom: 10px" src="http://www.camara.leg.br/internet/deputado/bandep/178957.jpg">

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Discursos</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Eduardo Barbosa </h4>
      </div>
      <div class="card-body">
        <img style="margin-bottom: 10px" src="http://www.camara.leg.br/internet/deputado/bandep/178957.jpg">

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Discursos</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Eduardo Barbosa </h4>
      </div>
      <div class="card-body">
        <img style="margin-bottom: 10px" src="http://www.camara.leg.br/internet/deputado/bandep/178957.jpg">

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Discursos</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Eduardo Barbosa </h4>
      </div>
      <div class="card-body">
        <img style="margin-bottom: 10px" src="http://www.camara.leg.br/internet/deputado/bandep/178957.jpg">

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Discursos</button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Eduardo Barbosa </h4>
      </div>
      <div class="card-body">
        <img style="margin-bottom: 10px" src="http://www.camara.leg.br/internet/deputado/bandep/178957.jpg">

        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Discursos</button>
      </div>
    </div>

  </div>
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    hackfest
  </footer>
</div>
