<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h3> Saiba mais sobre o que seu candidato lendo sobre o que ele está falando!.</h3>
</div>
<div class="container" style="background: #f1f1f1">
  <ng-select [items]="listaDeputados"
              bindLabel="nome"
              [clearSearchOnAdd]="true"
              bindValue="nome"
              (change)= "onChangeLista($event, selectedCityName)"
              (clear)	= "onRestartLista()"
              (click)="onSelectParlamentar($event, selectedCityName)"
              placeholder="Busque o parlamentar"
              [(ngModel)]="selectedCityName">
      <ng-template ng-label-tmp let-item="item">
          <b>{{item.nome}}</b>
      </ng-template>
  </ng-select>

  <br>
  <div *ngFor="let parlamentar of listaDeputados; let i=index " (onSelectionChange)="onSelectParlamentar($event, selectedCityName)">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{parlamentar.nome}}</h4>
        </div>
        <div class="card-body">
          <img style="margin-bottom: 10px" [src]="parlamentar.urlFoto">

          <a [routerLink]="['detalhes', parlamentar.nome]" type="button" class="btn btn-lg btn-block btn-outline-primary">Mais detalhes</a>
        </div>
      </div>

    </div>
  </div>
</div>
